{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
            <div class="d-flex justify-content-start mb-5">
                <form action="/quote" method="POST">
                    <input class=" mx-auto w-auto mb-3" autofocus name="symbol" type="text" placeholder="Symbol" required>
                    <button class="btn btn-primary" type="submit">Quote</button>
                </form>
            </div>

            <h1>{{ data['name'] }} ({{ data['symbol'] }})</h1>
            <h2>Price: {{ price }}</h2>

{% endblock %}
